<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form action="/action" method="POST">    
        <p>Your Name<input type action="text" name="user_name"></p>
        <p>Dojo Location<select name= "dojo_location">
            <options value="Seattle">Seattle</options>
            <options value="Washington DC">Washington DC</options>
        </select></p>
        <p>Favorite Language<select name= "fav_lang">
                <options value="python">python</options>
        </select></p>
        <p>Comment (optional)<input type="textarea" name="comment"></p>
        <input type="submit" value= "Button">
    </form>
</body>
</html>