<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
  </head>
  <body class="text-center">
    <h3 class="jumbotron jumbotron-fluid p-5">We have been visited {{counter}} times!</h3>
    <div class="p-3">
      <h4>Counter: {{counter}}</h4>
      <form action="/">
        <button class="btn btn-primary">Add One!</button>
      </form>
      <form action="/update_two">
        <button class="btn btn-success">Add Two!</button>
      </form>
      <form action="/destroy_session">
        <button class="btn btn-danger">Reset Counter</button>
      </form>
      <!-- extra
      {#
      <hr class="my-5">
      <div class="p-3">
        <h4>Custom Incrementer:</h4>
        <form action="/custom_increments" method="post">
          <label>Add Custom Increments: <input type="number" name="increments" class="form-control"></label>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
      #} -->
    </div>
  </body>
</html>